<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>BorodutchStudio.Controlio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>controlio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
		<string>skype</string>
		<string>fb-messenger</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow us to access your camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow us to access your library</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFUIText-Bold.otf</string>
		<string>SFUIText-BoldG1.otf</string>
		<string>SFUIText-BoldG2.otf</string>
		<string>SFUIText-BoldG3.otf</string>
		<string>SFUIText-BoldItalicG1.otf</string>
		<string>SFUIText-BoldItalicG2.otf</string>
		<string>SFUIText-BoldItalicG3.otf</string>
		<string>SFUIText-Heavy.otf</string>
		<string>SFUIText-HeavyItalic.otf</string>
		<string>SFUIText-Italic.otf</string>
		<string>SFUIText-ItalicG1.otf</string>
		<string>SFUIText-ItalicG2.otf</string>
		<string>SFUIText-ItalicG3.otf</string>
		<string>SFUIText-Light.otf</string>
		<string>SFUIText-LightItalic.otf</string>
		<string>SFUIText-Medium.otf</string>
		<string>SFUIText-MediumItalic.otf</string>
		<string>SFUIText-Regular.otf</string>
		<string>SFUIText-RegularG1.otf</string>
		<string>SFUIText-RegularG2.otf</string>
		<string>SFUIText-RegularG3.otf</string>
		<string>SFUIText-Semibold.otf</string>
		<string>SFUIText-SemiboldItalic.otf</string>
		<string>SFUIDisplay-Ultralight.otf</string>
		<string>SFUIDisplay-Thin.otf</string>
		<string>SFUIDisplay-Semibold.otf</string>
		<string>SFUIDisplay-Regular.otf</string>
		<string>SFUIDisplay-Medium.otf</string>
		<string>SFUIDisplay-Light.otf</string>
		<string>SFUIDisplay-Heavy.otf</string>
		<string>SFUIDisplay-Bold.otf</string>
		<string>SFUIDisplay-Black.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
